body {
  margin: 0;
  background: #333333;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #333333 0%, #555555 100%);
  border-radius: 6.5px;
  border: 0;
}

.ellipse-9 {
  border: 33px solid #d3ff71;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 1570px;
  top: 730px;
}
.ellipse-6 {
  border: 33px solid #ff6f62;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 828px;
  top: -28px;
}
.ellipse-8 {
  border: 33px solid #ffff26;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: -350px;
  top: -350px;
}
.ellipse-7 {
  border: 33px solid #14ff00;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 392px;
  top: 408px;
}
.ellipse-10 {
  border: 33px solid #ff6f62;
  border-left: 33px solid transparent;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: 828px;
  top: -28px;
}

.avtorizacia {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.avtorizacia-okno {
  width: 600px;
  height: 500px;
  background-color: #3f3f3ffa;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 27px;
  z-index: 1;
}

.voiti {
  font-size: 36px;
  font-weight: normal;
  width: 355px;
  height: 75px;
  text-align: center;
}

.raion-gorod {
  width: 300px;
  height: 50px;
  border-radius: 25.5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin: 40px;
  background-color: #333333;
  color: #ffffff80;
}

.shcola {
  width: 300px;
  height: 50px;
  border-radius: 25.5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #333333;
  color: #ffffff80;
}

.option-category {
  cursor: pointer;
  width: 300px;
  height: 50px;
}

.option {
  cursor: pointer;
}

.prodoljit,
.vhod {
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 25.5px;
  border: 0;
  background-color: #15ff00;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin: auto;
  transition: 0.5s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.login {
  width: 300px;
  height: 50px;
  border-radius: 25.5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
  margin: 40px;
  cursor: text;
  display: none;
  padding: 0;
}

.parol {
  width: 300px;
  height: 50px;
  border-radius: 25.5px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
  cursor: text;
  display: none;
  padding: 0;
}

header {
  height: 100px;
  width: 100vw;
  background-color: #3f3f3f;
  border-radius: 0 0 0 27px;
  display: flex;
  z-index: 1;
}

.lichniy-kabinet {
  display: flex;
  flex-direction: row;
  margin: auto 0 0 55px;
}

.chel-icon {
  margin-right: 20px;
  cursor: pointer;
}

.name-login {
  color: #fff;
  text-align: center;
  font-family: Calibri;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.el-dnevnik-title {
  margin: auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  margin: auto 16px auto auto;
}

.el-dnevnik {
  color: #fff;
  text-align: center;
  font-family: Calibri;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kol-nastroiki {
  display: flex;
  flex-direction: row;
  margin: auto 55px auto 0;
}

.kol {
  margin: auto 37px auto 0;
  cursor: pointer;
}

.nastroiki {
  color: #fff;
  text-align: center;
  font-family: Calibri;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nastroiki-icon {
  margin: auto 0 auto 10px;
  cursor: pointer;
}

.bloki {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 51px;
}

.blok-ocenki,
.blok-domzadrasp,
.blok-ychitela {
  width: 400px;
  height: 250px;
  background-color: #3f3f3ffa;
  border-radius: 27px;
  margin-right: 36px;
  cursor: pointer;
}

.ocenki-text,
.ychitela-text {
  color: #fff;
  text-align: right;
  font-family: Calibri;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
}

.domzadrasp-text {
  color: #fff;
  text-align: right;
  font-family: Calibri;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
}

.ocenki-settings {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.tekycie-itogovie {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 35px;
}

.tekycie,
.itogovie {
  display: flex;
  width: 100px;
  height: 40px;
}

.tekycie-text,
.itogovie-text {
  color: #000;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}

.tekycie /*-itogovie-select*/ {
  border-radius: 25px;
  background-color: #14ff00;
  width: 100px;
  height: 40px;
}

.tekycie-text /*-itogovie-select*/ {
  font-weight: bold;
}

.ocenki-data {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.ocenki-data option {
  color: #000;
  text-align: center;
  font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.ocenki-main {
  width: 100vw;
  height: 100vh;
}

.ocenki-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  height: 50px;
}

.ocenki-predmet {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #3f3f3ffa;
  border-radius: 7px;
}

.ocenki-predmet-text {
  color: #fff;
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}

.ocenki-sredbal-5 {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: #14ff00;
  border-radius: 3px;
  margin: auto 13px;
}

.ocenki-sredbal-4 {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: #d3ff71;
  border-radius: 3px;
  margin: auto 13px;
}

.ocenki-sredbal-3 {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: #ffff26;
  border-radius: 3px;
  margin: auto 13px;
}

.ocenki-sredbal-2 {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: #ff6f62;
  border-radius: 3px;
  margin: auto 13px;
}

.ocenki-sredbal-1 {
  display: flex;
  width: 50px;
  height: 40px;
  background-color: #ff4c3c;
  border-radius: 3px;
  margin: auto 13px;
}

.ocenki-sredbal-text {
  color: #000;
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}

.ocenki-mass {
  display: flex;
  background-color: #3f3f3ffa;
  width: calc(100vw - 276px);
  border-radius: 7px;
}

.ocenka-5 {
  display: flex;
  width: 30px;
  height: 40px;
  background-color: #14ff00;
  border-radius: 3px;
  margin: auto 0 auto 7px;
}

.ocenka-4 {
  display: flex;
  width: 30px;
  height: 40px;
  background-color: #d3ff71;
  border-radius: 3px;
  margin: auto 0 auto 7px;
}

.ocenka-3 {
  display: flex;
  width: 30px;
  height: 40px;
  background-color: #ffff26;
  border-radius: 3px;
  margin: auto 0 auto 7px;
}

.ocenka-2 {
  display: flex;
  width: 30px;
  height: 40px;
  background-color: #ff6f62;
  border-radius: 3px;
  margin: auto 0 auto 7px;
}

.ocenka-1 {
  display: flex;
  width: 30px;
  height: 40px;
  background-color: #ff4c3c;
  border-radius: 3px;
  margin: auto 0 auto 7px;
}

.ocenka-text {
  color: #000;
  text-align: center;
  font-family: Calibri;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
}
